header {
  position: fixed;
  z-index: 200;
  width: 100vw;
}

.headerContainer {
  height: 56px;
  padding-top: 0;
  width: 100vw;
  margin: 0;
  display: flex;
  top: 0;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
}

.nav {
  position: fixed;
  right: 0;
  background: #fcf7ecf1;
  transition: 0.5s ease-in-out;
}

.nav-list {
  display: block;
  padding: 20px 40px 0 60px;
}

.nav-item {
  font-size: 16px;
  list-style-type: none;
  font-weight: 500;
  margin: 40px 0;
  position: relative;
  cursor: pointer;
}

.nav-item:hover {
  opacity: 0.5;
}

.nav-item-active {
  text-decoration: underline;
}

.logo {
  width: auto;
  height: 40px;
  margin: 10px;
}

.icons {
  width: 30vw;
  margin-right: 15px;
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: end;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 14px 12px;
  z-index: 1000;
  cursor: pointer;
}

.hamburger {
  display: block;
}

@media only screen and (min-width: 868px) {
  .headerContainer {
    display: flex;
    text-align: center;
    padding-top: 12px;
    position: fixed;
    margin: 32px 2vw;
    width: 96vw;
    border-radius: 100px;
    justify-content: space-between;
  }

  .nav {
    display: block;
    position: relative;
    background: transparent;
  }

  .nav-list {
    position: relative;
    display: flex;
    margin-left: 20px;
    justify-content: start;
    padding: 0;
    padding-left: 0;
    width: 30.5vw;
  }

  .nav-item {
    margin: 0 8px;
    font-size: 14px;
  }

  .logo {
    margin: 0px;
    padding-top: 7px;
    width: auto;
    height: 28px;
  }

  .icons {
    margin-right: 20px;
    margin-top: 0px;
  }

  .hamburger {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .headerContainer {
    margin: 32px 5vw;
    width: 90vw;
  }

  .nav-item {
    font-weight: 500;
    margin: 0 18px;
    font-size: 14px;
  }
}
